{% extends "base.html" %}
{% block container %}
<div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Start Exposing
                    </a>
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Shortcuts</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1><a href="https://www.nytimes.com/2017/02/10/opinion/footing-the-bill-for-trumps.html?action=click&module=TrendingGrid&region=TrendingTop&pgtype=collection">Footing the Bill for Trumps</a></h1>
                        <p>All these Trumps are getting damned expensive. Last month, taxpayers forked over nearly $100,000 to protect Eric Trump while he was on a business trip to Uruguay. And the Defense Department is looking to rent space in Trump Tower — which goes for as much as $1.5 million a year per floor — so they can bring the nuclear launch codes along when the president comes to visit his wife in New York.</p>
                        <!-- <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>

    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
</div>
{% endblock %}
