{% extends "base.html" %}
{% block container %}

<div id="wrapper" >
        <div id="sidebar-wrapper">

            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/home" onClick="$('#sciencebox').hide(); $('#homebox').show()" >
                        Home
                    </a>
                </li>
                <li>
                    <a href="/popular">Popular</a>
                </li>
                <li>
                    <a href="/science">Science</a>
                </li>
                <li>
                    <a href="/sports">Sports</a>
                </li>
                <li>
                    <a href="/political">Politics</a>
                </li>
                <li>
                    <a href="/business">Business</a>
                </li>
                <li>
                    <a href="/international">International</a>
                </li>
                <li>
                    <a href="/something_new">Recommended</a>
                </li>
            </ul>
        </div>

        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper" >
    <div class="container-fluid" id="homebox">
        <div class="row">
            <div class="col-md-9">
              <div class="media">
              <div class="media-left media-middle">
                <a href="#">
                  <img class="media-object" src="https://static01.nyt.com/images/2017/02/11/opinion/11collinsWeb/11collinsWeb-master768.jpg"
                  alt="download.SVG" width="100" height="100">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading"> <a href="https://www.nytimes.com/2017/02/10/opinion/footing-the-bill-for-trumps.html?action=click&module=TrendingGrid&region=TrendingTop&pgtype=collection">
                  Footing the Bill for Trumps</a></h4>
                  All these Trumps are getting damned expensive.
                  Last month, taxpayers forked over nearly $100,000 to protect Eric Trump
                  while he was on a business trip to Uruguay. And the Defense Department
                  is looking to rent space in Trump Tower — which goes for as much as $1.5 million
                  a year per floor — so they can bring the nuclear launch codes along when the president
                  comes to visit his wife in New York.
              </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="panel panel-warning">
                <div class="panel-heading">
                  <h3 class="panel-title">50% say Mostly Facts</h3>
                </div>
                <div class="panel-body">
                  <div class="radio">
                    <label><input type="radio" name="first">This article is mostly facts.</label>
                  </div>
                  <div class="radio">
                    <label><input type="radio" name="first">This article is mostly opinion.</label>
                  </div>
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Add my Input!</button>
              </div>
              </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
              <div class="media">
              <div class="media-left media-middle">
                <a href="#">
                  <img class="media-object" src="https://www.sciencenews.org/sites/default/files/2017/02/main/articles/022217_ay_7-planet_main1_free.jpg"
                  alt="download.SVG" width="100" height="100">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading"> <a href="https://www.sciencenews.org/article/seven-earth-sized-planets-orbit-nearby-supercool-star">
                  Seven Earth-sized planets orbit nearby supercool star</a></h4>
                  A nearby ultracool star harbors seven Earth-sized planets,
                  three with orbits that potentially put them in a habitable zone.
                  That makes the system, around a star called TRAPPIST-1, a prime
                  target in the search for signs of alien life. Its discovery also
                  hints that many more cousins of Earth may be out there than astronomers thought.
              </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="panel panel-success">
                <div class="panel-heading">
                  <h3 class="panel-title">95% say Mostly Facts</h3>
                </div>
                <div class="panel-body">
                  <div class="radio">
                    <label><input type="radio" name="second">This article is mostly facts.</label>
                  </div>
                  <div class="radio">
                    <label><input type="radio" name="second">This article is mostly opinion.</label>
                  </div>
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Add my Input!</button>
              </div>
              </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
              <div class="media">
              <div class="media-left media-middle">
                <a href="#">
                  <img class="media-object" src="http://i2.cdn.cnn.com/cnnnext/dam/assets/170208181827-02-anti-homophobia-latam-large-tease.jpg"
                  alt="download.SVG" width="100" height="100">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading"> <a href="http://www.cnn.com/2017/02/26/americas/lgbt-rights-in-the-americas/index.html">
                  The perplexing narrative about being gay in Latin America</a></h4>
                  At 26 years old, the Peruvian gay man was arrested by police officers
                  while heading home shortly after midnight. Throughout the six hours he was in police custody,
                  he says, he was stripped, raped with a baton and verbally abused by police officers before being let go.
                  All of this, he says, because of his sexuality.
              </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="panel panel-success">
                <div class="panel-heading">
                  <h3 class="panel-title">75% say Mostly Facts</h3>
                </div>
                <div class="panel-body">
                  <div class="radio">
                    <label><input type="radio" name="third">This article is mostly facts.</label>
                  </div>
                  <div class="radio">
                    <label><input type="radio" name="third">This article is mostly opinion.</label>
                  </div>
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Add my Input!</button>
              </div>
              </div>

            </div>
        </div>
    </div>
    </div>



</div>
</div>

{% endblock %}
