<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>Expose Me Introduction</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>

</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a class="navbar-brand" href="http://getbootstrap.com/examples/jumbotron/#">Expose Me</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-right">
                </form>
            </div>
        </div>
    </nav>

    <div class="jumbotron">
        <div class="container">
            <h1>Thanks for creating an account, Eric!</h1>
            <p> Expose me uses a deep learning algorithm to learn more about you and what you like! We then use this info to sift through hundreds of articles so you dont have to! You can help us learn more by reviwing the articles below, or just go to our
                home page by clicking here </p>
        </div>
    </div>

    <div class="container">
        <!--  NY times science article here-->
        <div class="row">
            <div class="col-sm-4">
                <button onclick="timesArticle()"> Recommended Article 1</button>
            </div>
            <div class="col-sm-4">
                <button onclick="buzzfeedArticle()"> Recommended Article 2</button>
            </div>
            <div class="col-sm-4">
                <button onclick="ESPNArticle()"> Recommended Article 3</button>
            </div>
        </div><br>

        <div class="row">
            <div class="col-sm-4">
                <label class="checkbox-inline"><input type="checkbox" value="" >I like this one!</label>
            </div>
            <div class="col-sm-4">
                <label class="checkbox-inline"><input type="checkbox" value="" >I like this one!</label>
            </div>
            <div class="col-sm-4">
                <label class="checkbox-inline"><input type="checkbox" value="" >I like this one!</label>
            </div>
        </div><br>

        <!--<div id="mydiv">
                    <iframe id="frame1" src="https://www.nytimes.com/2017/02/10/technology/ford-invests-billion-artificial-intelligence.html?rref=collection%2Fsectioncollection%2Ftechnology&action=click&contentCollection=technology&region=rank&module=package&version=highlights&contentPlacement=1&pgtype=sectionfront" width="100%" height="400"></iframe>
                </div>-->
        <script>
            function timesArticle() {
                window.open(
                    "https://www.nytimes.com/2017/02/10/technology/ford-invests-billion-artificial-intelligence.html?rref=collection%2Fsectioncollection%2Ftechnology&action=click&contentCollection=technology&region=rank&module=package&version=highlights&contentPlacement=1&pgtype=sectionfront"
                );
            }

            function buzzfeedArticle() {
                window.open("https://www.buzzfeed.com/andyneuenschwander/24-photos-that-prove-there-are-two-types-of-people?utm_term=.bngngy97P#.biZz3molL");
            }

            function ESPNArticle() {
                window.open("http://www.espn.com/blog/collegebasketballnation/post/_/id/117646/what-the-committee-got-right-and-wrong-with-the-early-top-16-seeds");
            }
            /*var slider = new Slider('#ex1', {
                formatter: function(value) {
                    return 'Current value: ' + value;
                }
            });*/
        </script>

        <!--</div>
            <div class="col-md-4">
                <h2>Recommended Article 2</h2>
                <div id="mydiv">
                    <iframe id="frame2" src="http://www.wikipedia.org/" width="100%" height="400"></iframe>
                </div>


            </div>
            <div class="col-md-4">
                <h2>Recommended Article 3</h2>
                <div id="mydiv3">
                    <iframe id="frame3" src="http://www.wikipedia.org/" width="100%" height="400"></iframe>
                </div>-->


<p><a id="btn-login" href="/home" class="btn btn-success">Submit!</a></p>
        <hr>
        <footer>
            <p>© 2016 Expose Me, Inc.</p>
        </footer>
    </div>

    <!--<script>
        function loadArticle() {
            var el = document.getElementById('frame1');
            el.src = document.getElementById("article1").value;

            var el = document.getElementById('frame2');
            el.src = document.getElementById("article1").value;

            var el = document.getElementById('frame3');
            el.src = document.getElementById("article1").value;
        }
    </script>-->





</body>

</html>
